@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <div>
       Login
       <input id="Text1" type="text" />
      
    </div>
    
   <div>
    Password
       <input id="Password1" type="password" />
       <br/>
       <input id="Button1" type="button" value="button" />
   </div>
    <div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TEST DEMO INFORMATION</h2>
      
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
     
    </div>
</div>